<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Favicon.ico</title>
        <link rel="icon" href="{{ asset('assets/images/favicon/favicon-pro.png')}}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Développeur web et web mobile en formation chez Human Booster, à la recherche d'un stage de 4 mois à partir du 14 novembre 2023 jusqu'au 6 mars 2024 !">
    </head>
    <body style="background-color: #080808; display: flex; justify-content:center; align-items: center; height: 90svh;">
        <img alt="favicon" src="{{ asset('assets/images/favicon/favicon-pro.png') | imagine_filter('favicon')}}">
    </body>
</html>