.main-photo-container
    visibility: hidden
    position: absolute
    width: 160px
    height: 160px
    border-radius: 32% 68% 48% 52% / 85% 71% 29% 15%
    display: flex
    justify-content: center
    align-items: end
    overflow: hidden
    top: 3%
    left: 5%
    z-index: -1

    @media (max-width: 700px)
        visibility: visible
        width: 110px
        height: 100px

    img
        height: 60px
        z-index: 3

        @media (max-width: 700px)
            width: 100px
            height: auto
            margin-bottom: 18px
