<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Damien Lebon CV et portfolio 2024{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/images/favicon/favicon-pro.png')}}" type="image/x-icon">
        <link rel="canonical" href="https://lebondamien.fr/" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Développeur web Full Stack spécialisé en Angular et Symfony, je vous propose un accompagnement complet pour la création et l'optimisation de vos projets web sur mesure. Expertise en développement front-end et back-end, gestion d'API et solutions adaptées à vos besoins.">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="fade-in">
        <div class="slide-in bg-color" ></div>
        {% include "layout/navbar.html.twig" %}
        {% include "layout/color_controller.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>
